<div class="footer section">
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" target="_blank" href="https://github.com/efortney"><i class="fab fa-2x fa-github"></i></a>
            <a href="https://newsapi.org" target="_blank" class="nav-item nav-link">Powered by NewsAPI.org</a>
          </div>
      </nav>
</div>