<style>
  @media only screen and (max-width: 420px) {
    #button-block {
      display: none;
    }
  }
</style>
<div style="margin-top: 12px">

  <form action="/search/submit" method="post">
    <div class="form-group row">
      <div class="col-sm-10">
        <input type="text" name="term" class="form-control" placeholder="killer wallabees..">
      </div>
      <div id="button-block" class="col-sm-2">
        <input type="submit" value="Search" class="btn btn-primary">
      </div>
    </div>
  </form>

</div>