<% include ./partials/Navbar.ejs %>

<div class="container"> 
    <% include ./partials/SearchSources.ejs %>
</div>

<div class="container">

    <div class="row"> 
        <div class="col-sm">
          <% sources.forEach( (source) => { %>
            <div style="margin-top:12px" class="container">
            <div class="card bg-light">
              <div class="card-body">
                  <h4 class="card-title"><%= source.name %></h4>
                  <h5 class="card-text"><%= source.description %></h5>
                  <a href="<%= source.link %>"><button class="btn btn-outline-primary">View Stories</button></a>
                  <a href="<%= source.url %>"><button class="btn btn-outline-secondary">Go to Source</button></a>
              </div>
            </div>
            </div>
            <% }); %>
          </div>
      </div>

</div>
